/* styles.css */
:root {
    --main-font-color: #f2e49b;
    --background-color-even: rgba(39, 57, 64, 0.5);
    --background-color-odd: rgba(73, 103, 115, 0.5);
    --input-background: rgba(73, 103, 115, 0.5);
    --button-background: #496773;
    --border-color: rgba(73, 103, 115);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
    font-family: "Courier New", Courier, monospace;
}

body {
    font: 13px Helvetica, Arial;
}

#backgroundVideoPlayer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#gameOutputMessages,
#playerQueueList {
    padding-bottom: 55px;
    list-style-type: none;
}

#gameOutputMessages li {
    padding: 5px 10px;
    color: var(--main-font-color);
}

#gameOutputMessages li:nth-child(even) {
    background: var(--background-color-even);
}

#gameOutputMessages li:nth-child(odd) {
    background: var(--background-color-odd);
}

#battleForm,
#messageForm {
    position: fixed;
    width: 100%;
    padding: 3px;
    color: var(--main-font-color);
    background: #273940;
    display: flex;
}

#battleForm {
    bottom: 25px;
}

#messageForm {
    bottom: 0px;
}

input {
    width: 10%;
    border: 0;
    padding: 3px;
    color: var(--main-font-color);
    background: var(--input-background);
}

#messageInput {
    width: 70%;
}

button {
    width: 10%;
    padding: 3px;
    color: var(--main-font-color);
    background: var(--button-background);
    border: none;
    margin-left: auto;
}

input[type="radio"] {
    width: 10px;
    height: 10px;
}

label,
input {
    margin-left: 10px;
}

form {
    display: flex;
    align-items: center;
}

table,
td {
    border: 3px solid var(--border-color);
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

#gameControlPanel,
#battleForm,
#messageForm {
    width: 80%;
}

#gameStatePanel {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    padding: 20px;
    color: var(--main-font-color);
    background: var(--background-color-even);
    display: flex;
    flex-direction: column;
}